// Colors
$white: #ffffff;
$black: #000000;

$grey-100: #e5e5e5;
$grey-200: #d9d9d9;
$grey-300: #d6d6d6;
$grey-500: #858585;
$grey-700: #333333;

$button: #5a65ffcf;

// Mains breakpoints
$full: 2500px;
$tablets: 1024px;
$phone: 490px;